margin=80
break-sequences=true
break-cases=fit
break-string-literals=newlines
doc-comments=before
field-space=loose
let-and=sparse
infix-precedence=parens
cases-exp-indent=2
type-decl=sparse
wrap-comments=true
break-infix=fit-or-vertical
